logs
*.log
npm-debug.log*
node_modules/
dist/
dist-ssr/
tmp/
coverage/
*.local
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
hash.env
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.development
.env.production